<div class="row">
<div class="col-md-10 col-centered">
    <form class="form-horizontal" role="form">
        <label  class="control-label">First name</label>
        <div class="form-control">{{employee.first_name}}</div>

        <label  class="control-label">Last name</label>
        <div class="form-control">{{employee.last_name}}</div>

        <label  class="control-label">Gender</label>
        <div class="form-control">{{employee.gender}}</div>

        <label  class="control-label">Gender</label>
        <div class="form-control">{{employee.gender}}</div>

        <label  class="control-label">Current job title</label>
        <div class="form-control">{{employee.current_title}}</div>

        <label  class="control-label">Current department</label>
        <div class="form-control">{{employee.current_department_name}}</div>

        <label  class="control-label">Hire data</label>
        <div class="form-control">{{employee.hire_date | date : 'd/M/yyyy'}}</div>

        <label  class="control-label">Years with company</label>
        <div class="form-control">{{employee.hire_date | years_to_now }}</div>

        <label  class="control-label">Birth date</label>
        <div class="form-control">{{employee.birth_date | date : 'd/M/yyyy'}}</div>

        <label  class="control-label">Age</label>
        <div class="form-control">{{employee.birth_date | years_to_now }}</div>

        <label  class="control-label">Current Salary</label>
        <div class="form-control">{{employee.current_salary | currency:"USD$"}}</div>

    </form>
</div>
</div>